

    .form-contenu {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      width: 100%;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
      color: #070606;
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #f4f4f4;;
      border-radius: 5px;
      background-color: #f4f4f4;;
      color: #000;
      font-size: 14px;
    }
     input[type="float"],
     input[type="datetime-local"]{
      width: 100%;
      padding: 10px;
      border: 1px solid #f4f4f4;;
      border-radius: 5px;
      background-color: #f4f4f4;;
      color: #000;
      font-size: 14px;
     }

   

   

    